{% extends 'admin/layout/base.html' %}
{% block title %}Bài viết{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row tm-content-row">
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-products">
                    <div class="tm-product-table-container">
                        <table class="table table-hover tm-table-small tm-product-table">
                            <thead>
                                <tr>
                                    <th scope="col">TÊN BÀI VIẾT</th>
                                    <th scope="col">CHUYÊN MỤC</th>
                                    <th scope="col">NGÀY ĐĂNG BÀI</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in posts %}
                                    <tr>
                                        <td class="tm-product-name">{{ post.name }}</td>
                                        <td>{{ post.category.name }}</td>
                                        <td>{{ post.created_date }}</td>
                                        <td>
                                            <a href="{{ url_for('admin.edit_post', id=post.id) }}" class="tm-product-delete-link">
                                                <i class="fas fa-pencil-alt tm-product-delete-icon"></i>
                                            </a>
                                            <a href="#" class="tm-product-delete-link" onclick="deletePost({{ post.id }})">
                                                <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- table container -->
                    <a href="{{ url_for('admin.add_new_posts') }}" class="btn btn-primary btn-block text-uppercase mb-3">Thêm bài viết mới</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
                    <h2 class="tm-block-title">Chuyên mục</h2>
                    <div class="tm-product-table-container">
                        <table class="table tm-table-small tm-product-table">
                            <tbody>
                                {% for cat in categories %}
                                    <tr>
                                        <td class="tm-product-name">{{ cat.name }}</td>
                                        <td class="text-center">
                                            <a href="{{ url_for('admin.edit_category', id=cat.id) }}" class="tm-product-delete-link">
                                                <i class="fas fa-pencil-alt tm-product-delete-icon"></i>
                                            </a>
                                            <a href="#" class="tm-product-delete-link" onclick="deleteCategory({{ cat.id }})">
                                                <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- table container -->
                    <a href="{{ url_for('admin.add_new_category') }}" class="btn btn-primary btn-block text-uppercase mb-3">Thêm mới chuyên mục</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function() {
            $(".tm-product-name").on("click", function() {
                window.location.href = "/admin/posts/add-new";
            });
        });

        deletePost = (postId) => {
            if (confirm('Bạn có chắc chắn muốn xóa bài viết này?')) {
                fetch(`{{ url_for('admin.delete_post', id=0) }}`.replace('0', postId), {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response => {
                    if (response.ok) {
                        location.reload(); // Tải lại trang để phản ánh những thay đổi
                    } else {
                        alert('Không thể xóa bài đăng');
                    }
                }).catch(error => {
                    console.error('Error:', error);
                    alert('Đã xảy ra lỗi khi xóa bài đăng');
                });
            }
        }

        deleteCategory = (catId) => {
            if (confirm('Bạn có chắc chắn muốn xóa chuyên mục này?')) {
                fetch(`{{ url_for('admin.delete_category', id=0) }}`.replace('0', catId), {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response => {
                    if (response.ok) {
                        location.reload(); // Tải lại trang để phản ánh những thay đổi
                    } else {
                        alert('Không thể xóa chuyên mục');
                    }
                }).catch(error => {
                    console.error('Error:', error);
                    alert('Đã xảy ra lỗi khi xóa chuyên mục');
                });
            }
        }
    </script>
{% endblock %}