Click
Flask
Jinja2
python-dotenv
Werkzeug
itsdangerous
SQLAlchemy
Flask-SQLAlchemy
Flask-Migrate
requests
beautifulsoup4
flask-admin
flask-login
flask-hashing
Flask-Mail
cloudinary
pymysql
Flask-Toastr