<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/templatemo-style.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
    <div class="" id="home">
        {% block header %}
            {% include 'admin/layout/header.html' %}
        {% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
            {% include 'admin/layout/footer.html' %}
        {% endblock %}
    </div>
</body>
<script src="{{ url_for('static', filename='admin/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/js/bootstrap.min.js') }}"></script>
{#<script src="{{ url_for('static', filename='admin/js/tinymce.min.js') }}" referrerpolicy="origin"></script>#}
<script src="https://cdn.tiny.cloud/1/1qa5t0dn0b46dukvifb2b500e7ausw3qelzj0jie038xyejf/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://cdn.jsdelivr.net/npm/@tinymce/tinymce-jquery@2/dist/tinymce-jquery.min.js"></script>
<script>
    const example_image_upload_handler = (blobInfo, progress) => new Promise((resolve, reject) => {
        $.ajax({
            url: `{{ url_for('admin.upload_image') }}`,
            type: 'POST',
            data: (() => {
                const formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());
                return formData;
            })(),
            contentType: false,
            processData: false,
            xhr: function() {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.onprogress = function(e) {
                    if (e.lengthComputable) {
                        progress(e.loaded / e.total * 100);
                    }
                };
                return xhr;
            },
            success: function(data) {
                if (data && typeof data.location === 'string') {
                    resolve(data.location);
                } else {
                    reject('Invalid JSON: ' + JSON.stringify(data));
                }
            },
            error: function(xhr, status, error) {
                if (xhr.status === 403) {
                    reject({ message: 'HTTP Error: ' + xhr.status, remove: true });
                } else {
                reject('HTTP Error: ' + xhr.status);
              }
            }
        });
    });
    $('textarea').tinymce({
        skin: 'oxide-dark',
        content_css: 'dark',
        height:500,
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }',
        plugins: [
            'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
            'anchor', 'searchreplace', 'visualblocks', 'fullscreen',
            'insertdatetime', 'media', 'table', 'code', 'help', 'wordcount'
        ],
        toolbar: 'undo redo | link image | code | blocks | bold italic backcolor | ' +
            'alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist outdent indent | removeformat | help',
        images_file_types: 'jpg, svg, webp, png',
        file_picker_types: 'file image media',
        /* enable title field in the Image dialog */
        image_title: true,
        /* enable automatic uploads of images represented by blob or data URIs*/
        automatic_uploads: true,
        /* and here's our custom image picker*/
        file_picker_callback: (cb, value, meta) => {
            const input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.setAttribute('accept', 'image/*');

            input.addEventListener('change', (e) => {
                const file = e.target.files[0];

                const reader = new FileReader();
                reader.addEventListener('load', () => {
                    /*
                      Note: Now we need to register the blob in TinyMCEs image blob
                      registry. In the next release this part hopefully won't be
                      necessary, as we are looking to handle it internally.
                    */
                    const id = 'blobid' + (new Date()).getTime();
                    const blobCache =  tinymce.activeEditor.editorUpload.blobCache;
                    const base64 = reader.result.split(',')[1];
                    const blobInfo = blobCache.create(id, file, base64);
                    blobCache.add(blobInfo);

                    /* call the callback and populate the Title field with the file name */
                    cb(blobInfo.blobUri(), { title: file.name });
                });
                reader.readAsDataURL(file);
            });

            input.click();
        },
        images_upload_handler: example_image_upload_handler
    });
</script>
{% block js %}{% endblock %}
</html>