{% extends 'admin/layout/base.html' %}
{% block title %}Quản lý tài khoản{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row tm-content-row">
            <div class="col-12 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <h2 class="tm-block-title">Quản lý tài khoản</h2>
                    <p class="text-white">Tài khoản</p>
                    <select class="custom-select">
                        <option value="0">Select account</option>
                        <option value="1">Admin</option>
                        <option value="2">Editor</option>
                        <option value="3">Merchant</option>
                        <option value="4">Customer</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row tm-content-row">
            <div class="col-12 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>UserName</th>
                                <th>Email</th>
                                <th>Join Date</th>
                                <th>Role</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.join_date }}</td>
                                    <td>{{ user.user_role.name }}</td>
                                    <td>
                                        <a href="{{ url_for('admin.edit_user', id=user.id) }}" class="tm-product-delete-link">
                                            <i class="fas fa-pencil-alt tm-product-delete-icon"></i>
                                        </a>
                                        <a href="#" class="tm-product-delete-link" onclick="deleteUser({{ user.id }})">
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        deleteUser = (userId) => {
            if (confirm('Bạn có chắc chắn muốn xóa tài khoản này?')) {
                fetch(`{{ url_for('admin.delete_user', id=0) }}`.replace('0', userId), {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response => {
                    if (response.ok) {
                        location.reload(); // Tải lại trang để phản ánh những thay đổi
                    } else {
                        alert('Không thể xóa tài khoản này');
                    }
                }).catch(error => {
                    console.error('Error:', error);
                    alert('Đã xảy ra lỗi khi xóa tài khoản');
                });
            }
        }
    </script>
{% endblock %}