{% extends 'main/layout/base.html' %}
{% block title %}Trang chủ{% endblock %}
{% block content %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='main/assets/img/home-bg.jpg') }}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10">
                    <div class="site-heading">
                        <h1>Chuyện Công Nghệ</h1>
                        <span class="subheading">Một trang chuyên về công nghệ</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container-fluid px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-8 border-end">
                {% for post in posts %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{{ url_for('main.post_detail', id=post.id) }}">
                            <h2 class="post-title">{{ post.name }}</h2>
                            <p class="post-subtitle">{{ post.excerpt | safe }}</p>
                        </a>
                        <p class="post-meta">
                            Chuyên mục
                            <a href="{{ url_for('main.posts_by_category', category_id=post.category_id) }}">{{ post.category.name }}</a>
                            {{ post.created_date.strftime('%d-%m-%Y') }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                {% endfor %}
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{{ url_for('main.post') }}">Older Posts →</a></div>
            </div>
            {% include 'main/layout/sidebar.html' %}
        </div>
    </div>
{% endblock %}