<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/core-img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
    {% block header %}
        {% include 'layout/header.html' %}
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
        {% include 'layout/footer.html' %}
    {% endblock %}
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{{ url_for('static', filename='js/jquery/jquery-2.2.4.min.js') }}"></script>
    <!-- Popper js -->
    <script src="{{ url_for('static', filename='js/bootstrap/popper.min.js') }}"></script>
    <!-- Bootstrap js -->
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
    <!-- All Plugins js -->
    <script src="{{ url_for('static', filename='js/plugins/plugins.js') }}"></script>
    <!-- Active js -->
    <script src="{{ url_for('static', filename='js/active.js') }}"></script>
    {% block js %}{% endblock %}
</body>
</html>
